.App {
  display: flex;
  min-height: 100vh;
  flex-flow: column;
  align-items: center;
  background: rgb(182, 182, 182);
}

header {
  font-family: 'Allerta Stencil', sans-serif;
  width: 100vw;
  text-align: center;
  font-size: 3em;
  font-weight: bold;
  padding: 1vh 0;
  background: rgb(112, 89, 62);
  border-bottom: 1px solid black
}

footer {
  width: 100vw;
  padding: 2vh 0;
  text-align: center;
  font-size: 1.5em;
  background: rgb(112, 89, 62);
  border-top: 1px solid black
}
