.App {
  display: flex;
  min-height: 100vh;
  flex-flow: column;
  align-items: center;
  background: rgb(130, 140, 110);
}

header {
  width: 100vw;
  text-align: center;
  font-size: 2.5em;
  font-weight: bold;
  padding: 2vh 0;
  background: rgb(168, 155, 93);
}

footer {
  width: 100vw;
  padding: 2vh 0;
  text-align: center;
  font-size: 1.5em;
  background: rgb(172, 80, 132);
}
